version: 2
jobs:
  test:
    docker:
      - image: circleci/golang:1.12
    steps:
      - checkout
      - setup_remote_docker
      - run: bash ./scripts/test.sh
workflows:
  version: 2
  ci:
    jobs:
      - test
